.background {
  background: url(/img/grocery-aisle.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.welcome-box {
  background-color: #f9de59;
  padding: 3rem;
  border-color: #a1dffb;
}

.create-list-header {
  margin-bottom: 2rem;
}

#welcome-header {
  background-color: #ffffff;
  margin: 1rem;
}
