.soon {
  border-left: 5px solid red;
}

.kind-of-soon {
  border-left: 5px solid orange;
}

.not-too-soon {
  border-left: 5px solid yellow;
}

.inactive {
  border-left: 5px solid lightgrey;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  width: 385px;
}
li {
  border-bottom: 1px solid lightgrey;
}
