.soon {
  border-left: 5px solid red;
}

.kind-of-soon {
  border-left: 5px solid orange;
}

.not-too-soon {
  border-left: 5px solid yellow;
}

.inactive {
  border-left: 5px solid lightgrey;
}

.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-container button {
  margin: 8px;
}

.top-container label {
  width: 75%;
}
